.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	background-size: cover;
	background-position: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.swiper-button-prev {
	padding: 30px !important;
	color: #fff !important;
}

.swiper-button-next {
	padding: 30px !important;
	color: #fff !important;
}

.mySwiper-slide .swiper-button-next {
	color: #b41f1b !important;
}

.mySwiper-slide .swiper-button-prev {
	color: #b41f1b !important;
}

@media (max-width: 768px) {
	.swiper-slide img {
		width: 200px;
	}

	.mySwiper-slide .swiper-button-next {
		display: none;
	}

	.mySwiper-slide .swiper-button-prev {
		display: none;
	}
}

.image-product img {
	width: 200px !important;
	object-fit: cover !important;
	/* height: 200px !important; */
}

.swiper-pagination-bullet {
	background-color: #333 !important;
	opacity: 1 !important;
	width: 15px !important;
	height: 15px !important;
	margin-bottom: 20px !important;
}

.swiper-pagination-bullet-active {
	background-color: #fff !important;
}

.select-chakraui-form {
	padding-inline-start: 5px !important;
}

.reset-css h1 {
	font-size: 32px;
}

.reset-css h2 {
	font-size: 24px;
}

.reset-css p {
	margin: 10px 0;
}

.reset-css ul {
	list-style: disc !important;
	padding-left: 20px !important;
	padding: initial;
}

.reset-css ol {
	/* list-style: disc !important; */
	padding-left: 20px !important;
	padding: initial;
}

@media (max-width: 768px) {
	.image-slides {
		width: 280px !important;
	}
}
