.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	background-size: cover;
	background-position: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.swiper-button-prev {
	padding: 30px !important;
	color: #fff !important;
}

.swiper-button-next {
	padding: 30px !important;
	color: #fff !important;
}

.mySwiper-slide .swiper-button-next {
	color: #b41f1b !important;
}

.mySwiper-slide .swiper-button-prev {
	color: #b41f1b !important;
}

.image-product img {
	width: 200px !important;
	object-fit: cover !important;
	/* height: 200px !important; */
}

.swiper-pagination-bullet {
	background-color: #333 !important;
	opacity: 1 !important;
	width: 15px !important;
	height: 15px !important;
	margin-bottom: 20px !important;
}

.swiper-pagination-bullet-active {
	background-color: #fff !important;
}

.select-chakraui-form {
	padding-inline-start: 5px !important;
}
